---
import {type Props} from "astro";
import "../../styles/styles.css";

const {
    title,
} = Astro.props as Props
---

<html lang="de">
<head>
    <!-- Global meta tags. -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicons. -->
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />

    <meta name="msapplication-TileColor" content="#30E130" />
    <meta
            name="msapplication-TileImage"
            content="/favicons/favicon-144x144.png"
    />
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <meta name="theme-color" content="#0F0F10" />

    <!-- Flowbite plugin integration -->
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

    <!-- Service worker registration. -->

    <script is:inline src="/registerSW.js"></script>
    <link rel="manifest" href="/manifest.webmanifest" />
    <title>SaarClimb - {title} 🧗</title>
</head>
<body>
<main>
    <slot />
</main>

<script>
    // This is a hack to get vite-plugin-pwa to generate a sw.js file.
    // Do not remove this script tag.
</script>
</body>
</html>
