---
import "../styles.css";
import TabBar from "../components/TabBar.svelte";
import Header from "../components/Header.svelte";
import Planer from "../components/Planer.svelte";
import LastWorkouts from "../components/LastWorkouts.svelte";
---

<html lang="de">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <title>SaarClimb - Dashboard</title>
</head>
<body>
<Header title="Dashboard"/>

<Planer client:load/>
<br>
<LastWorkouts client:load/>

<TabBar/>
</body>
</html>
