---
import Planer from "../components/Planer.svelte";
import TabBar from "../components/TabBar.svelte";
import "../styles.css";
---

<html lang="de">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>SaarClimb</title>
</head>
<body>
<Planer />
<TabBar />
</body>
</html>
