---
import "../styles/styles.css";
import Layout from "../components/_layout/Layout.astro";
import Landing from "../components/landing-page/Landing.svelte";
---

<Layout title="Die Boulder-App">
    <main class="landing-page">
        <Landing client:load />
    </main>
</Layout>
