---
import "../styles.css";
import TabBar from "../components/TabBar.svelte";
---

<html lang="de">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>SaarClimb</title>
    <!-- Service worker registration. -->
    <script is:inline src="/registerSW.js"></script>
    <link rel="manifest" href="/manifest.webmanifest" />
</head>
<body>
<TabBar />
</body>
</html>
