---
import "../styles/styles.css";
import Header from "../components/_layout/Header.svelte";
import Auth from "../components/auth/Auth.svelte";
---

<html lang="de">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>SaarClimb - Login</title>
</head>
<body>
<Header title="Login"/>
<Auth client:load type="login"/>
</body>
</html>
