---
import "../styles.css";
import Header from "../components/Header.svelte";
import Settings from "../components/Settings.svelte";
import TabBar from "../components/TabBar.svelte";
---

<html lang="de">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>SaarClimb - Einstellungen</title>
</head>
<body>
<Header title="Einstellungen"/>
<Settings client:load />
<TabBar />
</body>
</html>